.hero-image {
  height: calc(60vh - var(--navbarHeight));
}

.hero-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trustedby {
  width: 200px;
  height: 50px;
  object-fit: contain;
}
